<h1>List of all Students</h1>

<% @students.each do |student| %>
  <div class="index_student">
    <%= student.name %>
    <%= link_to "Expel #{student.name}", student_path(student), method: :delete %>
  </div>
<% end %>
